CSS
h1{
    color: rgb(75, 75, 134);
}

h2{
    color: #46484c;
}

strong{
   color:#8b8b8bcc ;
}

button{
    color: #fff;
    background-color: #12474b;
}

body{
    background-color: #fffbf7;
    background-image: url('https://pro2-bar-s3-cdn-cf.myportfolio.com/67cf45ca-338d-4fd0-943b-32d96162976a/b7b52d14-b827-4c3a-906f-3b94fa13f35f_rw_1920.png');
}
.fixed-header{
    position: fixed;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
}
.header {
    margin: 20px 20px 0px 20px;
    font-size: 0%;
    line-height: 45px;
  }

li{
display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    line-height: 45px;
    font-family: sans-serif;
}

.logo {
    width: 15%;
}
.navbar {
    color:#025157 ;
    width: 70%;
    line-height: 45px;
    text-align: center;
}

.actions{
    width: 15%;
    font-size: 14px;
    text-align: right;
}
.actions a{
    color:#67b54b ;
}

.menu-item {
    margin: 0 25px 0 25px;
}
.actions button{
    color: white;
    background-color: #67b54b;
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
    border: 0px;
    border-radius: 5px;
}
.promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}
.video-promo{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.publicidad{
    margin-left: 0px;
}
.publicidad h1{
    color: #025157;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.tarjetas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    column-gap: 30px;
    background-color:#025157 ;
    padding: 70px 150px 70px 150px;
}
.tarjetas-art{
    background-color: white;
    padding: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
    border-radius: 5px;
    font-family:"Open Sans", sans-serif;
    overflow: hidden;
    display: grid;
    grid-template-columns: 70% 30%;
}
.tarjetas-art-texto{
    display: flex;
    flex-direction: column;
}
.tarjetas-icon {
    width: 50px;
    align-self: flex-start;
}
.tarjetas-art-img{
    display: flex;
    align-self:center;
    width: 360px;
    height: 230px;
    position: relative;
}
.tarjetas-art-texto>h3{
    font-size: 25px;
    font-weight: 300;
    align-self:left;
}
.tarjetas-art-texto>p{
    color: #7e7e7e;
    font-weight: 400;
    line-height: 25px;
    margin-top: 0px;
}
.tarjetas-art-texto > footer{
    color:#67b54b;
}

.usuarios-matcha{
    display: flex;
    background-color: #a1d683;
    padding: 70px 220px 70px 220px;
    align-content: center;
}
.texto{
    padding: 20px;
    margin-right: 40px;

}
.texto h1{
    color: #025157;
    font-size: 50px;
    font-family: "Alegreya", serif;
    font-weight: 90%;
}
.texto p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #343434;
}

.texto button{
    color: white;
    background-color: #025157;
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
    border: 0px;
    border-radius: 5px;
    font-size: 14px;
}
.texto>img{
    width: 80%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.casos{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 600px;
    display: flex;
    flex-flow: column;
    margin: 10px;
}
.casos img{
    width: 100%;
    max-height: 16vw;
    border-radius: 10px;
}
.everlylogo{
    background-color: khaki;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    margin-top: 180px;
    margin-left: 170px;
    justify-content: center;
    align-items: center;
}

.casos h3{
    color:#025157;
    font-family: 'Times New Roman', Times, serif;
}
.casos p{
    font-size: 25px;
    font-family:"Open Sans", sans-serif;
    text-justify: auto;
    text-align:left;
    margin-top: 0px;
    font-weight: 300px;
}
.icono-texto{
    display: flex;
    flex-flow: row;
}
.icono{
    align-content: center;
    width: 40px;
}
.casos footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: grey;
    padding-left: 40px;
}
.casos button{
    font-size: 15px;
    width: 250px;
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
    align-content: center;
    border-radius: 5px;
}

.how-it-works{
    padding: 30px 100px 30px 100px;
    background-color: #fffbf7;
    text-align: center;
}
.how-it-works > h1{
    color: #025157;
    font-size: 50px;
    font-family: "Alegreya", serif;
    font-weight: bolder;
    margin-bottom: 8px;
}
.how-it-works> p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #46484c;
}
.how-it-works> p> a{
color: #67b54b;
}

.how-it-works>button{
    color: white;
    background-color: #025157;
    padding: 15px 20px 15px 20px;
    border: 0px;
    border-radius: 10px;
    font-size: 14px;
}
.hit-articles{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,200px);
    column-gap: 3px;
}

.hit-pasos{
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    height: 550px;
    margin: 10px;
    border: 1px #dadada solid;
    width: 200px;
    margin-top: 50px;
}
.hit-pasos>div{
    display: grid;
    grid-template-columns: repeat(1,fr);
    grid-template-rows: repeat(2,fr);
}
.hit-step-icon{
    width: 20px;
    position: absolute;
}
.hit-step-img{
    width: 100%;
    height: 300px;
}

.hit-pasos>h1{
    color: #025157;
    font-size: 30px;
    font-family: "Alegreya", serif;
    margin-bottom: 20px;
}

.hit-pasos>p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #343434;
    text-align: left;
    line-height: 1.5;
}

.hit-pasos>footer{
    color:#67b54b;
    text-align: left;
    margin-top: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.features{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,330px);
    /*  grid-template: repeat(2, 1fr)/repeat(2, 330px);*/
}
.feature-art{
    background-color: blue;
    margin: 10px;
    width: 40%;
    height: 50px;

}